{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">
{% include 'breadcrumb.html' %}

<!-- Chapter section -->
<div class="container course-professor-panel">
    <div class="row">
        <div class="col-md-3">
            <h2>Add New Chapter</h2>
            <form action="" method="POST" name="chapter-form">
                {% csrf_token %}
                {{ add_chapter_form|crispy }}
                <input type="submit" value="Add Chapter" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
                {% if queryset_chapter %}
                <table class="table table-bordered table-hover generic-table">
                    <thead>
                        <tr>
                            <th>Chapter name</th>
                            <th>Date created</th>
                            <th>Add Quiz</th>
                            <th>Add Assignment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for instance in queryset_chapter %}
                    <tr>
                        <td class="col-md-4"><a href="{{ instance.get_absolute_url }}">{{ instance.name }}</a></td>
                        <td class="col-md-2">{{ instance.created_date }}</td>
                        <td class="col-md-2"><a class="btn btn-primary" id="add-quiz-button" href="{% url 'create_quiz' instance.slug %}">Quiz</a>
                        </td>
                        <td class="col-md-2">
                            <a class="btn btn-primary" id="add-quiz-button" href="{% url 'create_assignment' instance.slug %}">Assignment</a>
                        </td>
                        <td class="col-md-2 ">
                            <a href="{% url 'edit_chapter' course_name instance.slug %}">
                                <input type="submit" value="Rename" class="btn btn-primary btn-sm">
                            </a>
                            <a href="{% url 'delete_chapter' course_name instance.slug %}">
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
        </div>
    </div>
</div>

<hr>



{% endblock %}